<h1>New Person competence level</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.person_competence_path(@conn, :create, @person)) %>

<span><%= link "Back", to: Routes.person_path(@conn, :show, @person) %></span>
