<section class="container">
  <div class="d-flex align-items-center mb-3">
    <h1><%= gettext("Edit %{name}", name: @position.name) %></h1>
    <%= link gettext("Back"), to: Routes.position_path(@conn, :index), class: "ml-auto" %>
  </div>
  <%= render(
    "form.html",
    Map.put(
      assigns,
      :action,
      Routes.position_path(@conn, :update, @position)
    )
  ) %>
</section>