<h1>Edit Competence</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.competence_path(@conn, :update, @competence)) %>

<span><%= link "Back", to: Routes.competence_path(@conn, :index) %></span>
