<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Levelup · \o/</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
      <section>
        <nav role="navigation" class="navbar navbar-expand-md navbar-light bg-light">
          <div class="container">
            <a class="navbar-brand" href="/">Levelup</a>
            <button 
              class="navbar-toggler"
              type="button" data-toggle="collapse"
              data-target="#navbarToggler"
              aria-controls="navbarTogglerDemo02"
              aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggler">
              <ul class="navbar-nav">
                <%= if @logged_in do %>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                      data-toggle="dropdown"
                      href="#"
                      role="button"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <%= gettext("Skills") %>
                    </a>
                    <div class="dropdown-menu">
                      <%= link(
                        gettext("persons"),
                        to: Routes.person_path(@conn, :index),
                        class: "dropdown-item"
                      ) %>
                      <%= link(
                        gettext("positions"),
                        to: Routes.position_path(@conn, :index),
                        class: "dropdown-item"
                      ) %>
                      <%= link(
                        gettext("competences"),
                        to: Routes.competence_path(@conn, :index),
                        class: "dropdown-item"
                      ) %>
                    </div>
                  </li>
                  <%= if @is_manager do %>
                    <li class="nav-item">
                      <%= link(gettext("credentials"), to: Routes.credential_path(@conn, :index), class: "nav-link") %>
                    </li>
                  <% end %>
                  <%= if @is_admin do %>
                    <li class="nav-item">
                      <%= link(gettext("admin"), to: Routes.admin_path(@conn, :index), class: "nav-link") %>
                    </li>
                  <% end %>
                <% end %>
              </ul>
              <div class="d-flex ml-auto mt-4 mt-md-0 align-items-center justify-content-between justify-content-md-start">
                <%= if @logged_in do %>
                  <div><%= @current_user.username %>&nbsp;(<%= @current_user.tenant.title %>)</div>
                  <%= link(gettext("logout"), to: Routes.session_path(@conn, :logout), method: :post, class: "ml-3 btn btn-sm btn-primary") %>
                <% else %>
                  <%= link(gettext("login"), to: Routes.session_path(@conn, :login)) %>
                <% end %>
              </div>
            </div>
          </div>
        </nav>
      </section>
    </header>
    <main role="main" class="pt-3">
      <%= if get_flash(@conn, :success) do %>
        <div role="alert" class="container alert alert-success"><%= get_flash(@conn, :success) %></div>
      <% end %>
      <%= if get_flash(@conn, :info) do %>
        <div role="alert" class="container alert alert-info"><%= get_flash(@conn, :info) %></div>
      <% end %>
      <%= if get_flash(@conn, :error) do %>
        <div role="alert" class="container alert alert-danger"><%= get_flash(@conn, :error) %></div>
      <% end %>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
