<h1>New Position competence level</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.position_competence_path(@conn, :create, @position)) %>

<span><%= link "Back", to: Routes.position_path(@conn, :show, @position) %></span>
